.mainText{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 3px solid grey;
}
.mainText h1 {
    display: inline-block;
}
.mainProductAdd{
    display: inline-block;
    margin-left: 80%
}
#delete-product-btn{
    display: inline-block;
    margin-left: 20px;
}
.mainText button{

    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;

}
.checkboxes .card{
    width: 18rem;
    display: inline-block;
    border: 2px;
    outline-style: solid;
    outline-color: #696969;
    margin-top: 30px;
    margin-left: 40px;
}
.checkboxes .delete-checkbox{
    margin-left: 17rem;
}

.checkboxes .card-body{
    text-align: center;
}
