#productAddMain{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 3px solid grey;
}
.productAddText h1 {
    display: inline-block;
}
.mainProductAdd{
    display: inline-block;
    margin-left: 80%
}
#cancelProductAdd{
    display: inline-block;
    margin-left: 20px;
}
#productAddMain button{

    padding: 15px 10px;
    text-align: center;
    text-decoration: none;

}
.inputField{
    margin-top: 30px;
}
.inputField #SKU{
    margin-left: 30px;
}
.inputField #name{
    margin-left: 23px;
}
.inputField #price{
    margin-left: 6px;
}
/*
Switcher
 */


#product_form  #productType{
    margin-top: 30px;
}
#product_form .switcherInfo{
    margin-top: 30px;
    background-color: lightgray;
    text-decoration-color: cornflowerblue;
    width: 30%;
    height: 150px;
    display: block;
}
#product_form .switcherInfo input {

    display: block;
}