html, body{
    height: 90%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.mainText{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 3px solid grey;
}
.mainText h1 {
    display: inline-block;
}
.mainProductAdd{
    display: inline-block;
    margin-left: 70%;
}
.mainText a{
    text-decoration: none;
    color: black;
}
.delete{
    display: inline-block;
    margin-left: 20px;
    color: black;
}
.mainText button{

    color: black;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;

}
.checkboxes .card{
    width: 18rem;
    display: inline-block;
    border: 2px;
    outline-style: solid;
    outline-color: #696969;
    margin-top: 30px;
    margin-left: 40px;
}
.checkboxes .delete-checkbox{
    margin-right: 15rem;
}

.checkboxes .card-body{
    text-align: center;
}
.push{
    height: 142px;
}
.footer{
    height: 142px;
    margin-left: 5%;
    margin-top: 40px;
    width: 90%;
    font-size: 25px;
    border-top: 3px solid grey;
    text-align: center;
}
/*footer{

    position: relative;
    bottom: 0;


}
