#productAddMain{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid grey;
}
.productAddText h1 {
    display: inline-block;
}
#ProductAddButtons{
    display: inline-block;
    margin-left: 68%;
}
#ProductAddButtons a{
    text-decoration: none;
    color: black;
}
#ProductAddButtons button[name="submitAdd"] {
   margin-left: 30px;
}
#productAddMain button{

    padding: 15px 10px;
    text-align: center;
    text-decoration: none;

}
.inputField{
    margin-top: 30px;
}
#product_form #SKU{
    margin-left: 30px;
}
#product_form #name{
    margin-left: 23px;
}
#product_form #price{
    margin-left: 6px;
}
#product_form{
    margin-top: 10px;
}
/*
Switcher
 */


#product_form  #productType{
    margin-top: 30px;
}
#product_form .switcherInfo{
    margin-top: 30px;
    background-color: lightgray;
    text-decoration-color: cornflowerblue;
    width: 30%;
    height: 150px;
    display: block;
}
#product_form .switcherInfo input {

    display: inline-block;
}
.footer{
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    height: 100px;
    margin-left: 5%;
    width: 90%;
    font-size: 25px;
    border-top: 3px solid grey;
    text-align: center;
}

